@font-face {
  font-family: KarmaLight;
  src: url('../assets/fonts/Karma-Light.ttf');
}
@font-face {
  font-family: JuliusSans;
  src: url('../assets/fonts/JuliusSansOne-Regular.ttf');
}
@font-face {
  font-family: TangerineBold;
  src: url('../assets/fonts/Tangerine-Bold.ttf');
}


.about-me {
  flex-direction: column;
  display: flex;
}
.about-me .summary{
  background: linear-gradient(
    rgba(51, 57, 105, 0.7), 
    rgba(20, 22, 37, 0.67)
  ),url('../assets/images/profile.png') no-repeat bottom center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(40, 57, 112);
  color: #f2fbff;
  height: 100vh;
}
.about-me .summary article {
  flex-grow: 1;
}

.about-me .topic {
  font-family: JuliusSans;
  padding: 0.5em;
  text-align: center;
  font-size: 1.3em;
}

.about-me .topic span {
  border: 1px solid black;
  margin-top: 1em;
}


.about-me .profile-article {
  padding: 0 1.45em;
  text-align: justify;
  font-size: 0.9em;
  letter-spacing: 0.05em;
}

.about-me .blurb{
  font-family: JuliusSans;
  text-align: center;
}
.profile a {
  text-align: center;
  font-size: 1.3em;
}
#resume {
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
}

#resume .technical-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(40, 57, 112, 0.8);
  width: 30%;
  overflow: auto;
}

#resume .technical-skills i {
  padding: 0.5em;
}

#resume .resume-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5em;
  width: 100%;
  background: linear-gradient(
    rgba(51, 57, 105, 0.7), 
    rgba(20, 22, 37, 0.67)
  ),url('../assets/images/profile.png') no-repeat center center fixed;
  background-color: rgb(40, 57, 112);
  background-size: cover;
}

#resume .resume-content i {
  text-align: center;
}

#resume .education {
  display: flex;
  flex-direction: column;
}

#resume .education h2, 
#resume .experience h2  {
  font-family: JuliusSans;
  text-transform: lowercase;
  text-align: center;
  padding: 0.3em;
}

#resume .education h3 {
  font-size: 0.8em;
  padding-bottom: 0.2em;
  font-style: italic;
}

#resume .education p {
  font-size: 0.65em;
}

#resume .res-desc {
  padding-bottom: 1em
}

#resume .experience h3 {
  font-size: 0.8em;
  padding-bottom: 0.2em;
  font-style: italic;
}

#resume .experience .work-place {
  font-family: JuliusSans;
  text-transform: lowercase;
  font-size: 0.55em;
  padding: 0.3em;
}


#resume .experience p {
  font-size: 0.65em;
  padding-bottom: 0.5em;
}

#resume .resume-content a {
  font-family: JuliusSans;
  text-transform: uppercase;
  animation: focus2 2s infinite;
  animation-delay: 8s;
}

@keyframes focus2 {
  50% {
    color: transparent;
  }
}

@media screen and (min-width: 30em) {
}
@media screen and (min-width: 45em) {
}
@media screen and (min-width: 60em) {
  .about-me .topic {
    font-size: 2.5em;
  }
  .about-me .profile-article {
    font-size: 1.8em;
    margin-left: 13em;
  }
  .about-me .blurb {
    font-size: 2em;
  }
  #resume .resume-content {
    padding: 3em;
  }
  #resume .education h2, 
  #resume .experience h2  {
  font-size: 2em;
  }

  #resume .education h3 {
    font-size: 1.5em;
  }
  
  #resume .education p {
    font-size: 1em;
    padding-bottom: 1.8em;
  }
  #resume .experience h3 {
    font-size: 1.5em;
  }
  
  #resume .experience .work-place {
    font-size: 1.2em;
    padding: 0.3em;
  }
  
  
  #resume .experience p {
    font-size: 1em;
    line-height: 1.2;
  }
}



