@font-face {
  font-family: KarmaLight;
  src: url('../assets/fonts/Karma-Light.ttf');
}
@font-face {
  font-family: JuliusSans;
  src: url('../assets/fonts/JuliusSansOne-Regular.ttf');
}
@font-face {
  font-family: TangerineBold;
  src: url('../assets/fonts/Tangerine-Bold.ttf');
}


.about-me {
  flex-direction: column;
  display: flex;
}
.about-me .summary{
  background: linear-gradient(
    rgba(51, 57, 105, 0.7), 
    rgba(20, 22, 37, 0.67)
  ),url('../assets/images/profile.png') no-repeat bottom center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(40, 57, 112);
  color: #f2fbff;
  height: 100vh;
}
.about-me .summary article {
  flex-grow: 1;
}

.about-me .topic {
  font-family: JuliusSans;
  padding: 0.5em;
  text-align: center;
  font-size: 1.3em;
}


.about-me .profile-article {
  padding: 0 1.45em;
  text-align: justify;
  font-size: 0.9em;
  letter-spacing: 0.05em;
}

.about-me .blurb{
  font-family: JuliusSans;
  text-align: center;
}
.profile a {
  text-align: center;
  font-size: 1.3em;
}
#resume {
  height: 100vh;
}

#resume .technical-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 25vh;
  background-color: rgba(69, 79, 112, 0.8);
}

#resume .technical-skills img {
  width: 32px;
  padding: 0.5em;
  height: 32px;
}


#resume .philips {
  height: 25vh;
  background-color: rgba(120, 137, 192, 0.8);
  display: flex;
}

#resume .philips img {
  padding: 1em 0;;
  height: 20vh;
}

#resume .philips .philips-desc h2 {

}

#resume .rutgers {
  height: 25vh;
  background-color: rgba(107, 123, 173, 0.8);
}

#resume .education {
  height: 25vh;
  background-color: rgba(114, 129, 177, 0.8);
}

