@font-face {
  font-family: KarmaLight;
  src: url('../assets/fonts/Karma-Light.ttf');
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: KarmaLight, sans-serif;
  color: #ffffff;
  background: linear-gradient(
    rgba(0, 0, 0, 0.45), 
    rgba(0, 0, 0, 0.45)
  ),url('../assets/images/portfolioCover.jpg') no-repeat center center fixed;
  background-size: cover;
  overflow: auto;
}