.landing {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(rgba(6, 91, 9, 0.49), rgba(6, 15, 6, 0.7)),url(../assets/images/portfolioCover.jpg) no-repeat center center fixed;
  background-size: cover;
}