@font-face {
  font-family: KarmaLight;
  src: url('../assets/fonts/Karma-Light.ttf');
}
@font-face {
  font-family: JuliusSans;
  src: url('../assets/fonts/JuliusSansOne-Regular.ttf');
}
@font-face {
  font-family: TangerineBold;
  src: url('../assets/fonts/Tangerine-Bold.ttf');
}



.profile {
  background: linear-gradient(
    rgba(0, 0, 0, 0.45), 
    rgba(0, 0, 0, 0.45)
  ),url('../assets/images/profile.png') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(40, 57, 112);
  color: #f2fbff;
}

.profile h1{
  font-family: TangerineBold;
  padding: 0.3em;
  font-size: 3em;
}

.profile .topic {
  font-family: JuliusSans;
  margin-left: 1em;
  padding: 0.5em;
  text-align: center;
  font-size: 1.3em;
}

.profile .profile-article {
  margin-left: 1.5em;
  padding: 0 0.7em;
  text-align: left;
  font-size: 1.1em;
  letter-spacing: 0.05em;
}

.profile .blurb{
  font-family: JuliusSans;
  text-align: center;
}
.profile a {
  text-align: center;
  font-size: 1.3em;
}
#resume {
  height: 100vh;
}

#resume .technical-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 25vh;
  background-color: rgba(69, 79, 112, 0.8);
}

#resume .technical-skills img {
  width: 32px;
  padding: 0.5em;
  height: 32px;
}


#resume .philips {
  height: 25vh;
  background-color: rgba(120, 137, 192, 0.8);
  display: flex;
}

#resume .philips img {
  padding: 1em 0;;
  height: 20vh;
}

#resume .philips .philips-desc h2 {

}

#resume .rutgers {
  height: 25vh;
  background-color: rgba(107, 123, 173, 0.8);
}

#resume .education {
  height: 25vh;
  background-color: rgba(114, 129, 177, 0.8);
}

