@font-face {
  font-family: KarmaLight;
  src: url('../assets/fonts/Karma-Light.ttf');
}
@font-face {
  font-family: JuliusSans;
  src: url('../assets/fonts/JuliusSansOne-Regular.ttf');
}
@font-face {
  font-family: TangerineBold;
  src: url('../assets/fonts/Tangerine-Bold.ttf');
}

.projects {
  flex-direction: column;
  display: flex;
}
.projects .container{
  background: linear-gradient(
    rgba(51, 81, 77, 0.71),
    rgba(24, 49, 23, 0.87)
  ),url('../assets/images/projects.JPG') no-repeat bottom center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #f2fbff;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
}

.projects .container .project .mockup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects .container img {
  height: 10em;
  width: 13em;
  
}

.project .mockup .desc {
  padding: 0 1em 1em 1em;
  display: flex;
  flex-direction: column;
}
.project .mockup .desc h3{
  font-weight: bold;
  font-family: JuliusSans;
  letter-spacing: 0.3em;
}
.project .mockup .desc p{
  margin: 0.5em 0;
  letter-spacing: 0.08em;
  font-size: 0.9em;
}
.project .mockup .desc .tech,
.project .mockup .desc a,
.projects .container .side {
  text-align: center;
}

