@font-face {
  font-family: TangerineBold;
  src: url('../assets/fonts/Tangerine-Bold.ttf');
}
@font-face {
  font-family: JuliusSans;
  src: url('../assets/fonts/JuliusSansOne-Regular.ttf');
}

.nav-menu {
  transform: translateX(100%);
  transition: transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
  box-shadow: none;
  height: 100%;
  max-width: 65%;
  padding: 1em;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  width: 15em;
  z-index: 1;
  font-size: 1em;
  background: linear-gradient(rgba(8, 33, 13, 0.88), rgba(25, 54, 41, 0.89)), url(../assets/images/menu-modal.png) no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.nav-menu.visible {
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.2);
  visibility: visible;
}

.nav-menu .close {
  text-align: right;
  margin: 5% 0;
}

.nav-menu h3 {
  font-family: JuliusSans;
  font-size: 1.1em;
  letter-spacing: 0.05em;
  text-transform: lowercase;
}

.nav-menu span{
  font-family: JuliusSans;
}

.nav-menu .nav-desc {
  font-size: 0.9em;
  padding: 0.5em;
  margin-bottom: 1em;
}

.nav-menu .home-btn p{
  font-family: JuliusSans;
  padding: 0;
  text-transform: lowercase;
}

@media screen and (min-width: 30em) {
  .nav-menu h3 {
    font-size: 1.5em;
  }
  .nav-menu .nav-desc {
    font-size: 1em;
  }
}
@media screen and (min-width: 45em) {
}
@media screen and (min-width: 60em) {
}




