@font-face {
  font-family: KarmaLight;
  src: url('../assets/fonts/Karma-Light.ttf');
}
@font-face {
  font-family: JuliusSans;
  src: url('../assets/fonts/JuliusSansOne-Regular.ttf');
}

nav p {
  padding: 1em;
}
nav span {
  font-family: JuliusSans;
}